.fund-button,
.aw-button {
    color: #377cb9;
    border-color: #377cb9;
    background-color: transparent;
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: normal;
    padding: 13px 26px;
    font-family: muli;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .1em;
    border-width: 2px;
    border-style: solid;
    -webkit-transition: 0.1s background-color linear, 0.1s color linear;
    -moz-transition: 0.1s background-color linear, 0.1s color linear;
    -ms-transition: 0.1s background-color linear, 0.1s color linear;
    -o-transition: 0.1s background-color linear, 0.1s color linear;
    transition: 0.1s background-color linear, 0.1s color linear
}

@media (max-width: 640px) {
    .fund-button,
    .aw-button {
        display: table;
        margin: 0 auto
    }
}

.fund-button:hover,
.aw-button:hover {
    background-color: #377cb9;
    color: #fff
}

.page-with-fund-headers .fund-header-spacer {
    background-color: transparent;
    width: 100%;
    height: 34px
}

@media (max-width: 640px) {
    .page-with-fund-headers .fund-header-spacer {
        height: 0
    }
}

.page-with-fund-headers .fund-header-flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.page-with-fund-headers .fund-header-flex-container [class*=sqs-col] {
    float: none
}

.page-with-fund-headers .fund-header h1,
.page-with-fund-headers .fund-header h2 {
    padding: 17px 4px
}

.page-with-fund-headers .fund-group-header h1,
.page-with-fund-headers .fund-group-header h2 {
    padding: 17px 4px;
    text-align: center;
    color: #333333
}

.page-with-fund-headers.acbf .fund-header,
.page-with-fund-headers.acbf.fund-header,
.page-with-fund-headers .acbf .fund-header,
.page-with-fund-headers .acbf.fund-header {
    background-color: #0c2340
}

.page-with-fund-headers.acbf .fund-header h1,
.page-with-fund-headers.acbf .fund-header h2,
.page-with-fund-headers.acbf.fund-header h1,
.page-with-fund-headers.acbf.fund-header h2,
.page-with-fund-headers .acbf .fund-header h1,
.page-with-fund-headers .acbf .fund-header h2,
.page-with-fund-headers .acbf.fund-header h1,
.page-with-fund-headers .acbf.fund-header h2 {
    color: #fff
}

.page-with-fund-headers.acbf.fund-button,
.page-with-fund-headers.acbf .fund-button,
.page-with-fund-headers.acbf .sqs-block-button a,
.page-with-fund-headers .acbf.fund-button,
.page-with-fund-headers .acbf .fund-button,
.page-with-fund-headers .acbf .sqs-block-button a {
    color: #0c2340 !important;
    border-color: #0c2340 !important;
    background-color: transparent
}

.page-with-fund-headers.acbf.fund-button:hover,
.page-with-fund-headers.acbf .fund-button:hover,
.page-with-fund-headers.acbf .sqs-block-button a:hover,
.page-with-fund-headers .acbf.fund-button:hover,
.page-with-fund-headers .acbf .fund-button:hover,
.page-with-fund-headers .acbf .sqs-block-button a:hover {
    background-color: #0c2340 !important;
    color: #fff !important
}

.page-with-fund-headers.acsaf .fund-header,
.page-with-fund-headers.acsaf.fund-header,
.page-with-fund-headers .acsaf .fund-header,
.page-with-fund-headers .acsaf.fund-header {
    background-color: #0c2340
}

.page-with-fund-headers.acsaf .fund-header h1,
.page-with-fund-headers.acsaf .fund-header h2,
.page-with-fund-headers.acsaf.fund-header h1,
.page-with-fund-headers.acsaf.fund-header h2,
.page-with-fund-headers .acsaf .fund-header h1,
.page-with-fund-headers .acsaf .fund-header h2,
.page-with-fund-headers .acsaf.fund-header h1,
.page-with-fund-headers .acsaf.fund-header h2 {
    color: #fff
}

.page-with-fund-headers.acsaf.fund-button,
.page-with-fund-headers.acsaf .fund-button,
.page-with-fund-headers.acsaf .sqs-block-button a,
.page-with-fund-headers .acsaf.fund-button,
.page-with-fund-headers .acsaf .fund-button,
.page-with-fund-headers .acsaf .sqs-block-button a {
    color: #0c2340 !important;
    border-color: #0c2340 !important;
    background-color: transparent
}

.page-with-fund-headers.acsaf.fund-button:hover,
.page-with-fund-headers.acsaf .fund-button:hover,
.page-with-fund-headers.acsaf .sqs-block-button a:hover,
.page-with-fund-headers .acsaf.fund-button:hover,
.page-with-fund-headers .acsaf .fund-button:hover,
.page-with-fund-headers .acsaf .sqs-block-button a:hover {
    background-color: #0c2340 !important;
    color: #fff !important
}

.page-with-fund-headers.agcf .fund-header,
.page-with-fund-headers.agcf.fund-header,
.page-with-fund-headers .agcf .fund-header,
.page-with-fund-headers .agcf.fund-header {
    background-color: #0c2340
}

.page-with-fund-headers.agcf .fund-header h1,
.page-with-fund-headers.agcf .fund-header h2,
.page-with-fund-headers.agcf.fund-header h1,
.page-with-fund-headers.agcf.fund-header h2,
.page-with-fund-headers .agcf .fund-header h1,
.page-with-fund-headers .agcf .fund-header h2,
.page-with-fund-headers .agcf.fund-header h1,
.page-with-fund-headers .agcf.fund-header h2 {
    color: #fff
}

.page-with-fund-headers.agcf.fund-button,
.page-with-fund-headers.agcf .fund-button,
.page-with-fund-headers.agcf .sqs-block-button a,
.page-with-fund-headers .agcf.fund-button,
.page-with-fund-headers .agcf .fund-button,
.page-with-fund-headers .agcf .sqs-block-button a {
    color: #0c2340 !important;
    border-color: #0c2340 !important;
    background-color: transparent
}

.page-with-fund-headers.agcf.fund-button:hover,
.page-with-fund-headers.agcf .fund-button:hover,
.page-with-fund-headers.agcf .sqs-block-button a:hover,
.page-with-fund-headers .agcf.fund-button:hover,
.page-with-fund-headers .agcf .fund-button:hover,
.page-with-fund-headers .agcf .sqs-block-button a:hover {
    background-color: #0c2340 !important;
    color: #fff !important
}

.page-with-fund-headers.adas .fund-header,
.page-with-fund-headers.adas.fund-header,
.page-with-fund-headers .adas .fund-header,
.page-with-fund-headers .adas.fund-header {
    background-color: #367bb7
}

.page-with-fund-headers.adas .fund-header h1,
.page-with-fund-headers.adas .fund-header h2,
.page-with-fund-headers.adas.fund-header h1,
.page-with-fund-headers.adas.fund-header h2,
.page-with-fund-headers .adas .fund-header h1,
.page-with-fund-headers .adas .fund-header h2,
.page-with-fund-headers .adas.fund-header h1,
.page-with-fund-headers .adas.fund-header h2 {
    color: #fff
}

.page-with-fund-headers.adas.fund-button,
.page-with-fund-headers.adas .fund-button,
.page-with-fund-headers.adas .sqs-block-button a,
.page-with-fund-headers .adas.fund-button,
.page-with-fund-headers .adas .fund-button,
.page-with-fund-headers .adas .sqs-block-button a {
    color: #367bb7 !important;
    border-color: #367bb7 !important;
    background-color: transparent
}

.page-with-fund-headers.adas.fund-button:hover,
.page-with-fund-headers.adas .fund-button:hover,
.page-with-fund-headers.adas .sqs-block-button a:hover,
.page-with-fund-headers .adas.fund-button:hover,
.page-with-fund-headers .adas .fund-button:hover,
.page-with-fund-headers .adas .sqs-block-button a:hover {
    background-color: #367bb7 !important;
    color: #fff !important
}

.page-with-fund-headers.tbf .fund-header,
.page-with-fund-headers.tbf.fund-header,
.page-with-fund-headers .tbf .fund-header,
.page-with-fund-headers .tbf.fund-header {
    background-color: #367bb7
}

.page-with-fund-headers.tbf .fund-header h1,
.page-with-fund-headers.tbf .fund-header h2,
.page-with-fund-headers.tbf.fund-header h1,
.page-with-fund-headers.tbf.fund-header h2,
.page-with-fund-headers .tbf .fund-header h1,
.page-with-fund-headers .tbf .fund-header h2,
.page-with-fund-headers .tbf.fund-header h1,
.page-with-fund-headers .tbf.fund-header h2 {
    color: #fff
}

.page-with-fund-headers.tbf.fund-button,
.page-with-fund-headers.tbf .fund-button,
.page-with-fund-headers.tbf .sqs-block-button a,
.page-with-fund-headers .tbf.fund-button,
.page-with-fund-headers .tbf .fund-button,
.page-with-fund-headers .tbf .sqs-block-button a {
    color: #367bb7 !important;
    border-color: #367bb7 !important;
    background-color: transparent
}

.page-with-fund-headers.tbf.fund-button:hover,
.page-with-fund-headers.tbf .fund-button:hover,
.page-with-fund-headers.tbf .sqs-block-button a:hover,
.page-with-fund-headers .tbf.fund-button:hover,
.page-with-fund-headers .tbf .fund-button:hover,
.page-with-fund-headers .tbf .sqs-block-button a:hover {
    background-color: #367bb7 !important;
    color: #fff !important
}

.page-with-fund-headers.aeif .fund-header,
.page-with-fund-headers.aeif.fund-header,
.page-with-fund-headers .aeif .fund-header,
.page-with-fund-headers .aeif.fund-header {
    background-color: #0c2340
}

.page-with-fund-headers.aeif .fund-header h1,
.page-with-fund-headers.aeif .fund-header h2,
.page-with-fund-headers.aeif.fund-header h1,
.page-with-fund-headers.aeif.fund-header h2,
.page-with-fund-headers .aeif .fund-header h1,
.page-with-fund-headers .aeif .fund-header h2,
.page-with-fund-headers .aeif.fund-header h1,
.page-with-fund-headers .aeif.fund-header h2 {
    color: #fff
}

.page-with-fund-headers.aeif.fund-button,
.page-with-fund-headers.aeif .fund-button,
.page-with-fund-headers.aeif .sqs-block-button a,
.page-with-fund-headers .aeif.fund-button,
.page-with-fund-headers .aeif .fund-button,
.page-with-fund-headers .aeif .sqs-block-button a {
    color: #0c2340 !important;
    border-color: #0c2340 !important;
    background-color: transparent
}

.page-with-fund-headers.aeif.fund-button:hover,
.page-with-fund-headers.aeif .fund-button:hover,
.page-with-fund-headers.aeif .sqs-block-button a:hover,
.page-with-fund-headers .aeif.fund-button:hover,
.page-with-fund-headers .aeif .fund-button:hover,
.page-with-fund-headers .aeif .sqs-block-button a:hover {
    background-color: #0c2340 !important;
    color: #fff !important
}

.page-with-fund-headers.adaf .fund-header,
.page-with-fund-headers.adaf.fund-header,
.page-with-fund-headers .adaf .fund-header,
.page-with-fund-headers .adaf.fund-header {
    background-color: #9bb1c1
}

.page-with-fund-headers.adaf .fund-header h1,
.page-with-fund-headers.adaf .fund-header h2,
.page-with-fund-headers.adaf.fund-header h1,
.page-with-fund-headers.adaf.fund-header h2,
.page-with-fund-headers .adaf .fund-header h1,
.page-with-fund-headers .adaf .fund-header h2,
.page-with-fund-headers .adaf.fund-header h1,
.page-with-fund-headers .adaf.fund-header h2 {
    color: #fff
}

.page-with-fund-headers.adaf.fund-button,
.page-with-fund-headers.adaf .fund-button,
.page-with-fund-headers.adaf .sqs-block-button a,
.page-with-fund-headers .adaf.fund-button,
.page-with-fund-headers .adaf .fund-button,
.page-with-fund-headers .adaf .sqs-block-button a {
    color: #9bb1c1 !important;
    border-color: #9bb1c1 !important;
    background-color: transparent
}

.page-with-fund-headers.adaf.fund-button:hover,
.page-with-fund-headers.adaf .fund-button:hover,
.page-with-fund-headers.adaf .sqs-block-button a:hover,
.page-with-fund-headers .adaf.fund-button:hover,
.page-with-fund-headers .adaf .fund-button:hover,
.page-with-fund-headers .adaf .sqs-block-button a:hover {
    background-color: #9bb1c1 !important;
    color: #fff !important
}

.page-with-fund-headers.adcf .fund-header,
.page-with-fund-headers.adcf.fund-header,
.page-with-fund-headers .adcf .fund-header,
.page-with-fund-headers .adcf.fund-header {
    background-color: #9bb1c1
}

.page-with-fund-headers.adcf .fund-header h1,
.page-with-fund-headers.adcf .fund-header h2,
.page-with-fund-headers.adcf.fund-header h1,
.page-with-fund-headers.adcf.fund-header h2,
.page-with-fund-headers .adcf .fund-header h1,
.page-with-fund-headers .adcf .fund-header h2,
.page-with-fund-headers .adcf.fund-header h1,
.page-with-fund-headers .adcf.fund-header h2 {
    color: #fff
}

.page-with-fund-headers.adcf.fund-button,
.page-with-fund-headers.adcf .fund-button,
.page-with-fund-headers.adcf .sqs-block-button a,
.page-with-fund-headers .adcf.fund-button,
.page-with-fund-headers .adcf .fund-button,
.page-with-fund-headers .adcf .sqs-block-button a {
    color: #9bb1c1 !important;
    border-color: #9bb1c1 !important;
    background-color: transparent
}

.page-with-fund-headers.adcf.fund-button:hover,
.page-with-fund-headers.adcf .fund-button:hover,
.page-with-fund-headers.adcf .sqs-block-button a:hover,
.page-with-fund-headers .adcf.fund-button:hover,
.page-with-fund-headers .adcf .fund-button:hover,
.page-with-fund-headers .adcf .sqs-block-button a:hover {
    background-color: #9bb1c1 !important;
    color: #fff !important
}

.page-with-fund-headers.asf .fund-header,
.page-with-fund-headers.asf.fund-header,
.page-with-fund-headers .asf .fund-header,
.page-with-fund-headers .asf.fund-header {
    background-color: #9bb1c1
}

.page-with-fund-headers.asf .fund-header h1,
.page-with-fund-headers.asf .fund-header h2,
.page-with-fund-headers.asf.fund-header h1,
.page-with-fund-headers.asf.fund-header h2,
.page-with-fund-headers .asf .fund-header h1,
.page-with-fund-headers .asf .fund-header h2,
.page-with-fund-headers .asf.fund-header h1,
.page-with-fund-headers .asf.fund-header h2 {
    color: #fff
}

.page-with-fund-headers.asf.fund-button,
.page-with-fund-headers.asf .fund-button,
.page-with-fund-headers.asf .sqs-block-button a,
.page-with-fund-headers .asf.fund-button,
.page-with-fund-headers .asf .fund-button,
.page-with-fund-headers .asf .sqs-block-button a {
    color: #9bb1c1 !important;
    border-color: #9bb1c1 !important;
    background-color: transparent
}

.page-with-fund-headers.asf.fund-button:hover,
.page-with-fund-headers.asf .fund-button:hover,
.page-with-fund-headers.asf .sqs-block-button a:hover,
.page-with-fund-headers .asf.fund-button:hover,
.page-with-fund-headers .asf .fund-button:hover,
.page-with-fund-headers .asf .sqs-block-button a:hover {
    background-color: #9bb1c1 !important;
    color: #fff !important
}

.page-with-fund-headers.apas .fund-header,
.page-with-fund-headers.apas.fund-header,
.page-with-fund-headers .apas .fund-header,
.page-with-fund-headers .apas.fund-header {
    background-color: #367bb7
}

.page-with-fund-headers.apas .fund-header h1,
.page-with-fund-headers.apas .fund-header h2,
.page-with-fund-headers.apas.fund-header h1,
.page-with-fund-headers.apas.fund-header h2,
.page-with-fund-headers .apas .fund-header h1,
.page-with-fund-headers .apas .fund-header h2,
.page-with-fund-headers .apas.fund-header h1,
.page-with-fund-headers .apas.fund-header h2 {
    color: #fff
}

.page-with-fund-headers.apas.fund-button,
.page-with-fund-headers.apas .fund-button,
.page-with-fund-headers.apas .sqs-block-button a,
.page-with-fund-headers .apas.fund-button,
.page-with-fund-headers .apas .fund-button,
.page-with-fund-headers .apas .sqs-block-button a {
    color: #367bb7 !important;
    border-color: #367bb7 !important;
    background-color: transparent
}

.page-with-fund-headers.apas.fund-button:hover,
.page-with-fund-headers.apas .fund-button:hover,
.page-with-fund-headers.apas .sqs-block-button a:hover,
.page-with-fund-headers .apas.fund-button:hover,
.page-with-fund-headers .apas .fund-button:hover,
.page-with-fund-headers .apas .sqs-block-button a:hover {
    background-color: #367bb7 !important;
    color: #fff !important
}

.page-with-fund-headers.acfo .fund-header,
.page-with-fund-headers.acfo.fund-header,
.page-with-fund-headers .acfo .fund-header,
.page-with-fund-headers .acfo.fund-header {
    background-color: #367bb7
}

.page-with-fund-headers.acfo .fund-header h1,
.page-with-fund-headers.acfo .fund-header h2,
.page-with-fund-headers.acfo.fund-header h1,
.page-with-fund-headers.acfo.fund-header h2,
.page-with-fund-headers .acfo .fund-header h1,
.page-with-fund-headers .acfo .fund-header h2,
.page-with-fund-headers .acfo.fund-header h1,
.page-with-fund-headers .acfo.fund-header h2 {
    color: #fff
}

.page-with-fund-headers.acfo.fund-button,
.page-with-fund-headers.acfo .fund-button,
.page-with-fund-headers.acfo .sqs-block-button a,
.page-with-fund-headers .acfo.fund-button,
.page-with-fund-headers .acfo .fund-button,
.page-with-fund-headers .acfo .sqs-block-button a {
    color: #367bb7 !important;
    border-color: #367bb7 !important;
    background-color: transparent
}

.page-with-fund-headers.acfo.fund-button:hover,
.page-with-fund-headers.acfo .fund-button:hover,
.page-with-fund-headers.acfo .sqs-block-button a:hover,
.page-with-fund-headers .acfo.fund-button:hover,
.page-with-fund-headers .acfo .fund-button:hover,
.page-with-fund-headers .acfo .sqs-block-button a:hover {
    background-color: #367bb7 !important;
    color: #fff !important
}

.page-with-fund-headers.aspa .fund-header,
.page-with-fund-headers.aspa.fund-header,
.page-with-fund-headers .aspa .fund-header,
.page-with-fund-headers .aspa.fund-header {
    background-color: #367bb7
}

.page-with-fund-headers.aspa .fund-header h1,
.page-with-fund-headers.aspa .fund-header h2,
.page-with-fund-headers.aspa.fund-header h1,
.page-with-fund-headers.aspa.fund-header h2,
.page-with-fund-headers .aspa .fund-header h1,
.page-with-fund-headers .aspa .fund-header h2,
.page-with-fund-headers .aspa.fund-header h1,
.page-with-fund-headers .aspa.fund-header h2 {
    color: #fff
}

.page-with-fund-headers.aspa.fund-button,
.page-with-fund-headers.aspa .fund-button,
.page-with-fund-headers.aspa .sqs-block-button a,
.page-with-fund-headers .aspa.fund-button,
.page-with-fund-headers .aspa .fund-button,
.page-with-fund-headers .aspa .sqs-block-button a {
    color: #367bb7 !important;
    border-color: #367bb7 !important;
    background-color: transparent
}

.page-with-fund-headers.aspa.fund-button:hover,
.page-with-fund-headers.aspa .fund-button:hover,
.page-with-fund-headers.aspa .sqs-block-button a:hover,
.page-with-fund-headers .aspa.fund-button:hover,
.page-with-fund-headers .aspa .fund-button:hover,
.page-with-fund-headers .aspa .sqs-block-button a:hover {
    background-color: #367bb7 !important;
    color: #fff !important
}

.page-with-fund-headers.acwf .fund-header,
.page-with-fund-headers.acwf.fund-header,
.page-with-fund-headers .acwf .fund-header,
.page-with-fund-headers .acwf.fund-header {
    background-color: #8c1d40
}

.page-with-fund-headers.acwf .fund-header h1,
.page-with-fund-headers.acwf .fund-header h2,
.page-with-fund-headers.acwf.fund-header h1,
.page-with-fund-headers.acwf.fund-header h2,
.page-with-fund-headers .acwf .fund-header h1,
.page-with-fund-headers .acwf .fund-header h2,
.page-with-fund-headers .acwf.fund-header h1,
.page-with-fund-headers .acwf.fund-header h2 {
    color: #fff
}

.page-with-fund-headers.acwf.fund-button,
.page-with-fund-headers.acwf .fund-button,
.page-with-fund-headers.acwf .sqs-block-button a,
.page-with-fund-headers .acwf.fund-button,
.page-with-fund-headers .acwf .fund-button,
.page-with-fund-headers .acwf .sqs-block-button a {
    color: #8c1d40 !important;
    border-color: #8c1d40 !important;
    background-color: transparent
}

.page-with-fund-headers.acwf.fund-button:hover,
.page-with-fund-headers.acwf .fund-button:hover,
.page-with-fund-headers.acwf .sqs-block-button a:hover,
.page-with-fund-headers .acwf.fund-button:hover,
.page-with-fund-headers .acwf .fund-button:hover,
.page-with-fund-headers .acwf .sqs-block-button a:hover {
    background-color: #8c1d40 !important;
    color: #fff !important
}

.page-with-fund-headers.adof .fund-header,
.page-with-fund-headers.adof.fund-header,
.page-with-fund-headers .adof .fund-header,
.page-with-fund-headers .adof.fund-header {
    background-color: #007078
}

.page-with-fund-headers.adof .fund-header h1,
.page-with-fund-headers.adof .fund-header h2,
.page-with-fund-headers.adof.fund-header h1,
.page-with-fund-headers.adof.fund-header h2,
.page-with-fund-headers .adof .fund-header h1,
.page-with-fund-headers .adof .fund-header h2,
.page-with-fund-headers .adof.fund-header h1,
.page-with-fund-headers .adof.fund-header h2 {
    color: #fff
}

.page-with-fund-headers.adof.fund-button,
.page-with-fund-headers.adof .fund-button,
.page-with-fund-headers.adof .sqs-block-button a,
.page-with-fund-headers .adof.fund-button,
.page-with-fund-headers .adof .fund-button,
.page-with-fund-headers .adof .sqs-block-button a {
    color: #007078 !important;
    border-color: #007078 !important;
    background-color: transparent
}

.page-with-fund-headers.adof.fund-button:hover,
.page-with-fund-headers.adof .fund-button:hover,
.page-with-fund-headers.adof .sqs-block-button a:hover,
.page-with-fund-headers .adof.fund-button:hover,
.page-with-fund-headers .adof .fund-button:hover,
.page-with-fund-headers .adof .sqs-block-button a:hover {
    background-color: #007078 !important;
    color: #fff !important
}

.page-with-fund-headers.acof .fund-header,
.page-with-fund-headers.acof.fund-header,
.page-with-fund-headers .acof .fund-header,
.page-with-fund-headers .acof.fund-header {
    background-color: #007078
}

.page-with-fund-headers.acof .fund-header h1,
.page-with-fund-headers.acof .fund-header h2,
.page-with-fund-headers.acof.fund-header h1,
.page-with-fund-headers.acof.fund-header h2,
.page-with-fund-headers .acof .fund-header h1,
.page-with-fund-headers .acof .fund-header h2,
.page-with-fund-headers .acof.fund-header h1,
.page-with-fund-headers .acof.fund-header h2 {
    color: #fff
}

.page-with-fund-headers.acof.fund-button,
.page-with-fund-headers.acof .fund-button,
.page-with-fund-headers.acof .sqs-block-button a,
.page-with-fund-headers .acof.fund-button,
.page-with-fund-headers .acof .fund-button,
.page-with-fund-headers .acof .sqs-block-button a {
    color: #007078 !important;
    border-color: #007078 !important;
    background-color: transparent
}

.page-with-fund-headers.acof.fund-button:hover,
.page-with-fund-headers.acof .fund-button:hover,
.page-with-fund-headers.acof .sqs-block-button a:hover,
.page-with-fund-headers .acof.fund-button:hover,
.page-with-fund-headers .acof .fund-button:hover,
.page-with-fund-headers .acof .sqs-block-button a:hover {
    background-color: #007078 !important;
    color: #fff !important
}

.page-with-fund-headers.aspac .fund-header,
.page-with-fund-headers.aspac.fund-header,
.page-with-fund-headers .aspac .fund-header,
.page-with-fund-headers .aspac.fund-header {
    background-color: #007078
}

.page-with-fund-headers.aspac .fund-header h1,
.page-with-fund-headers.aspac .fund-header h2,
.page-with-fund-headers.aspac.fund-header h1,
.page-with-fund-headers.aspac.fund-header h2,
.page-with-fund-headers .aspac .fund-header h1,
.page-with-fund-headers .aspac .fund-header h2,
.page-with-fund-headers .aspac.fund-header h1,
.page-with-fund-headers .aspac.fund-header h2 {
    color: #fff
}

.page-with-fund-headers.aspac.fund-button,
.page-with-fund-headers.aspac .fund-button,
.page-with-fund-headers.aspac .sqs-block-button a,
.page-with-fund-headers .aspac.fund-button,
.page-with-fund-headers .aspac .fund-button,
.page-with-fund-headers .aspac .sqs-block-button a {
    color: #007078 !important;
    border-color: #007078 !important;
    background-color: transparent
}

.page-with-fund-headers.aspac.fund-button:hover,
.page-with-fund-headers.aspac .fund-button:hover,
.page-with-fund-headers.aspac .sqs-block-button a:hover,
.page-with-fund-headers .aspac.fund-button:hover,
.page-with-fund-headers .aspac .fund-button:hover,
.page-with-fund-headers .aspac .sqs-block-button a:hover {
    background-color: #007078 !important;
    color: #fff !important
}

.page-with-fund-headers.acf .fund-header,
.page-with-fund-headers.acf.fund-header,
.page-with-fund-headers .acf .fund-header,
.page-with-fund-headers .acf.fund-header {
    background-color: #0c2340
}

.page-with-fund-headers.acf .fund-header h1,
.page-with-fund-headers.acf .fund-header h2,
.page-with-fund-headers.acf.fund-header h1,
.page-with-fund-headers.acf.fund-header h2,
.page-with-fund-headers .acf .fund-header h1,
.page-with-fund-headers .acf .fund-header h2,
.page-with-fund-headers .acf.fund-header h1,
.page-with-fund-headers .acf.fund-header h2 {
    color: #fff
}

.page-with-fund-headers.acf.fund-button,
.page-with-fund-headers.acf .fund-button,
.page-with-fund-headers.acf .sqs-block-button a,
.page-with-fund-headers .acf.fund-button,
.page-with-fund-headers .acf .fund-button,
.page-with-fund-headers .acf .sqs-block-button a {
    color: #0c2340 !important;
    border-color: #0c2340 !important;
    background-color: transparent
}

.page-with-fund-headers.acf.fund-button:hover,
.page-with-fund-headers.acf .fund-button:hover,
.page-with-fund-headers.acf .sqs-block-button a:hover,
.page-with-fund-headers .acf.fund-button:hover,
.page-with-fund-headers .acf .fund-button:hover,
.page-with-fund-headers .acf .sqs-block-button a:hover {
    background-color: #0c2340 !important;
    color: #fff !important
}

.page-with-fund-headers.asip .fund-header,
.page-with-fund-headers.asip.fund-header,
.page-with-fund-headers .asip .fund-header,
.page-with-fund-headers .asip.fund-header {
    background-color: #4f6228
}

.page-with-fund-headers.asip .fund-header h1,
.page-with-fund-headers.asip .fund-header h2,
.page-with-fund-headers.asip.fund-header h1,
.page-with-fund-headers.asip.fund-header h2,
.page-with-fund-headers .asip .fund-header h1,
.page-with-fund-headers .asip .fund-header h2,
.page-with-fund-headers .asip.fund-header h1,
.page-with-fund-headers .asip.fund-header h2 {
    color: #fff
}

.page-with-fund-headers.asip.fund-button,
.page-with-fund-headers.asip .fund-button,
.page-with-fund-headers.asip .sqs-block-button a,
.page-with-fund-headers .asip.fund-button,
.page-with-fund-headers .asip .fund-button,
.page-with-fund-headers .asip .sqs-block-button a {
    color: #4f6228 !important;
    border-color: #4f6228 !important;
    background-color: transparent
}

.page-with-fund-headers.asip.fund-button:hover,
.page-with-fund-headers.asip .fund-button:hover,
.page-with-fund-headers.asip .sqs-block-button a:hover,
.page-with-fund-headers .asip.fund-button:hover,
.page-with-fund-headers .asip .fund-button:hover,
.page-with-fund-headers .asip .sqs-block-button a:hover {
    background-color: #4f6228 !important;
    color: #fff !important
}


/*# sourceMappingURL=fund-themes.css.map */